= render 'shared/side_bar'
.chat-main
  .chat-header
    .chat-header--left
      .chat-header--left__title chats-title
      .chat-header--left__users
        Members
        %span.chat-header__user
          hiro
        %span.chat-header__user
          hoka
    .chat-header--right
      .edit-btn
      = link_to 'Edit', "/groups/group_id/edit", method: :get
  .chat-messages
    = render @messages
  .chat-footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
